* {
    margin: 0;
    padding: 0;
    text-transform: none;
    outline: none!important;
    text-decoration: none;
}

html {
    -webkit-text-size-adjust: 100%;
    margin: 0 !important;
}

html body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-top: 0px;
}

a:active {
    outline: none;
    border: none
}

a:focus {
    -moz-outline-style: none;
    outline: none
}

input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

input[type="file"]::-moz-file-upload-button {
    cursor: pointer;
}

input[type="file"]::-ms-file-upload-button {
    cursor: pointer;
}

input[type="file"]::-o-file-upload-button {
    cursor: pointer;
}

input[type="file"] {
    cursor: pointer;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
}

body select::-ms-expand {
    display: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner,
select::-moz-focus-inner,
option::-moz-focus-inner,
a::-moz-focus-inner,
button,
a {
    border: 0;
    outline: none;
}

*::-moz-selection {
    color: #fff;
    background: #000;
}

*::-webkit-selection {
    color: #fff;
    background: #000;
}

*::-webkit-input-placeholder {
    color: #7e7e7e;
    opacity: 1;
}

*:-moz-placeholder {
    color: #7e7e7e;
    opacity: 1;
}

*::-moz-placeholder {
    color: #7e7e7e;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #7e7e7e;
    opacity: 1;
}

a,
a:hover,
a:active,
a:focus,
button {
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

*::after,
*::before,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
    padding: 0;
    line-height: 1;
}

li {
    list-style: outside none none;
    position: relative;
    margin: 0;
}

body p {
    color: #464646;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    margin: 0 0 15px;
    padding: 0;
}

body p:empty {
    display: none;
    line-height: 0;
}

body p:last-child {
    margin: 0;
}

body p strong {
    font-weight: bold;
}

body a {
    color: #000;
}

body a:hover {
    color: #666;
}

body .clearfix,
body .clear {
    clear: both;
    line-height: 100%;
}

body .clearfix {
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clr:after,
ul:after,
.clearfix:after,
li:after,
.grve-container:after {
    clear: both;
    display: block;
    content: "";
}

div input,
div select,
div textarea,
div button {
    font-family: 'Roboto', sans-serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    color: #000;
    margin: 0 0 15px;
}

img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

.hidden {
    display: none!important;
}

.container:after {
    content: "";
    display: block;
    clear: both;
}

body .container {
    max-width: 1300px;
}

body .container .container {
    width: 100%;
    max-width: 100%;
}

html.no-scroll body,
html.no-scroll {
    overflow: hidden;
    height: 100%;
}

html body .btn-md {
    cursor: pointer;
    padding: 10px 20px !important;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

body .form-control {
    box-shadow: none !important;
}

.button-theme {
    background-color: #4285f4;
    box-shadow: none !important;
    color: #fff;
    border-radius: 0;
    border: none !important;
}

.button-theme:hover {
    background-color: #186cf3;
    color: #fff;
}


/**************************************/

.page_loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-image: url(../images/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000;
}

.sticky-header {
    position: fixed;
    background: transparent;
    top: 0px;
    z-index: 999;
    width: 100%;
}

.sticky-header.header-shrink {
    background-color: rgba(0, 0, 0, 0.7);
}

.main-header .navbar {
    padding: 0;
}

.main-header .logo {
    padding: 25px 0;
    float: left;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.header-shrink.main-header .logo {
    padding: 10px 0;
}

.main-header .logo img {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.header-shrink.main-header .logo img {
    max-width: 150px;
}

.header-ml {
    margin-left: 17%;
}

.main-header .navbar-expand-lg .navbar-nav.header-ml li {
    margin: 0 20px;
}

.main-header .navbar-expand-lg .navbar-nav.header-ml .nav-link,
.main-header .navbar-expand-lg .navbar-nav.ml-auto .nav-link {
    padding: 15px 0;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.main-header .navbar-expand-lg .navbar-nav.header-ml .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 0;
    background-color: #4285f4;
    transition: .3s all ease;
}

.main-header .navbar-expand-lg .navbar-nav.header-ml .nav-link:hover::before,
.main-header .navbar-expand-lg .navbar-nav.header-ml .active>.nav-link::before {
    width: 100%;
}

.main-header .navbar-expand-lg .navbar-nav.ml-auto .nav-link {
    padding: 0;
}

#banner .banner-img {
    position: relative;
}

#banner .banner-img::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-expand-lg .navbar-nav.ml-auto {
    align-items: center;
}

.navbar-expand-lg .navbar-nav.ml-auto li:not(:last-child) {
    margin-right: 10px;
}

.banner .banner-slider-inner {
    text-shadow: none;
    right: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.banner .carousel-content {
    align-self: center;
    margin: 0 auto;
    color: #fff;
}

.banner .mt-60 {
    margin-top: 60px;
}

.banner h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: normal;
    font-family: 'Roboto', sans-serif;
}

.banner p {
    color: #fff;
    margin: 0 0 25px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 300;
}

.isa-3 {
    background: #edeff1;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    padding: 10px;
    display: inline-block;
    width: 100%;
    border-radius: 10px;
}

.inline-search-area {
    max-width: 1100px;
    font-family: 'Roboto', sans-serif;
}

.inline-search-area .search-col {
    padding: 0;
    position: relative;
    width: 27%;
    float: left;
    margin-right: 1%;
}

.find {
    width: 16%;
    float: left;
}

.inline-search-area.isa-3 .search-col .form-control,
.find button.btn.btn-search {
    border-radius: 5px;
}

.inline-search-area .search-col .form-control,
.inline-search-area button.btn-search {
    border-radius: 0;
    border: 0;
    height: 54px;
    margin-bottom: 0;
    font-size: 16px;
}

.inline-search-area .search-col .form-control {
    padding-right: 50px;
}

.bootstrap-select {
    width: 100% !important;
    font-family: 'Roboto', sans-serif;
}

.search-fields {
    min-height: 44px;
    border-radius: 3px;
    box-shadow: none;
    background-color: #fff;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    border: 1px solid #e2e2e2;
    color: #495057;
    padding: 0 30px 0 10px;
    width: 100%;
}

.search-col .search-fields {
    border: none;
    min-height: 54px;
}

.inline-search-area.isa-3 .bootstrap-select button {
    border: none!important;
    padding: 14px 25px 14px 15px;
    border-radius: 5px;
    outline: none !important;
    background-color: #fff;
}

.bootstrap-select .dropdown-menu {
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: none;
    border-radius: 0;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
}

.bootstrap-select .dropdown-menu.inner {
    border: 0;
    border-top: none;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
}

.bootstrap-select .dropdown-menu li {
    padding: 0;
}

.bootstrap-select .dropdown-menu li a {
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
    outline: none;
    border: 0 !important;
}

.bootstrap-select .dropdown-menu>.active>a,
.bootstrap-select .dropdown-menu>.active>a:focus,
.bootstrap-select .dropdown-menu>.active>a:hover {
    color: #4285f4;
}

.bootstrap-select .dropdown-menu>.active>a,
.bootstrap-select .dropdown-menu>.active>a:focus,
.bootstrap-select .dropdown-menu>.active>a:hover {
    text-decoration: none;
    background-color: #fff;
    outline: 0;
}

.inline-search-area .search-col i {
    position: absolute;
    right: 10px;
    top: 18px;
    color: #d0d0d0;
    font-size: 20px;
}

.inline-search-area .search-col i.fa-map-marker {
    font-size: 25px;
    top: 15px;
}

.dropdown-toggle::after {
    border-top-color: #d0d0d0;
}

.content-area-box {
    padding: 80px 0;
}

.main-title {
    margin-bottom: 50px;
}

.main-title h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}

.main-title h2::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 80px;
    height: 5px;
    background-color: #2a41e8;
}

.categorie-box-2 {
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    background: #fff!important;
    margin-bottom: 20px;
    border-radius: 5px;
}

.categorie-box-2 .icon {
    width: 90px;
    height: 100px;
    border-right: solid 3px #f1f1f1;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    border-radius: 10px 0 0 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorie-box-2 .icon i {
    color: #4285f4;
}

.categorie-box-2 h5 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.categorie-box-2 span {
    font-size: 15px;
}

.about_section {
    background-image: url(../images/home_about_img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_section .about-tile {
    color: #fff;
    font-size: 42px;
    font-weight: 400;
}

.about_section p {
    color: #fff;
    font-size: 24px;
}

section.job-section {
    background-color: #f5f6ff;
}

.main-title-2 {
    margin-bottom: 30px;
}

.main-title-2 h2 {
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0;
}

.main-title-2 a {
    color: #4285f4;
}

.main-title-2 a:hover {
    color: #000;
}

.job-item {
    background: #fff;
    padding: 20px;
    position: relative;
    width: 100%;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.job-item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: #4285f4;
    opacity: 0;
}

.job-item:hover {
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    z-index: 1;
}

.job-item:hover::before {
    opacity: 1;
}

.job-item a.icon {
    margin-right: 2%;
    width: 10%;
}

.job-item h4 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 500;
}

.job-item ul {
    display: inline-block;
    list-style: none;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.job-item ul li {
    float: left;
    margin-right: 20px;
    font-size: 14px;
    color: #777;
}

.job-item .media-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

section.how_works {
    background-color: #fafbfd;
}

.how_works .how_inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 25px rgb(0 0 0 / 5%);
    padding: 50px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.how_works .how_inner:hover {
    box-shadow: 0 0 25px rgb(0 0 0 / 20%);
}

.how_works .how_inner h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.how_works .how_inner h3 a:hover {
    color: #4285f4;
}

.reviews_inner {
    background-color: #fff;
    box-shadow: 0 0 25px rgb(0 0 0 / 5%);
    margin: 50px 15px 100px;
    border-radius: 5px;
    position: relative;
    padding: 40px 40px 60px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.reviews_inner:hover {
    background-color: #4285f4;
}

.reviews_inner .content-box i.fa {
    color: rgba(0, 0, 0, 0.1);
    font-size: 50px;
    margin-bottom: 20px;
}

.reviews_inner .content-box p {
    font-size: 13px;
    line-height: 150%;
    color: #969696;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.reviews_inner:hover .content-box p {
    color: #fff;
}

.reviews_inner .content-box {
    margin-bottom: 15px;
}

.reviews_inner .reviews_content {
    position: absolute;
    top: calc(100% - 45px);
    left: 0;
    right: 0;
    margin: auto;
}

.reviews_content .reviews_img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
}

.reviews_content h2 {
    font-size: 14px;
    color: #4f4f4f;
    margin-bottom: 0;
}

.reviews_content p {
    font-size: 12px;
    color: #aeaeae;
}

.reviews_box .center {
    position: relative;
    z-index: 1;
}

.reviews_box .center .reviews_inner {
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 20px;
}

footer.footer {
    background-color: #30323f;
    padding: 80px 0;
}

.footer_logo img {
    margin: 0;
}

ul.social-list {
    display: flex;
}

ul.social-list li:not(:last-child) {
    margin-right: 25px;
}

ul.social-list li a {
    color: #8388a4;
    font-size: 26px;
}

.footer-item .copy,
.footer-item .copy a {
    color: #fff;
    font-size: 14px;
}

ul.social-list li a:hover,
.footer-item .copy a:hover {
    color: #4285f4;
}

.footer-item h4 {
    color: #fff;
    margin-bottom: 25px;
}

.footer-item .Subscribe-box p {
    color: rgba(255, 255, 255, 0.5);
}

.Subscribe-box form.form-inline {
    flex-wrap: nowrap;
}

.Subscribe-box form.form-inline .fa-envelope {
    background-color: #4285f4;
    width: 40px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    flex: 0 0 40px;
}

.Subscribe-box form.form-inline input[type="text"] {
    border-radius: 0;
    padding: 0 15px;
    border: none;
    font-size: 14px;
    height: 40px;
    width: 100%;
}

.Subscribe-box form.form-inline button[type="submit"] {
    border-radius: 0 5px 5px 0;
    padding: 0 15px;
    height: 40px;
    text-transform: uppercase;
}

.footer-item.footer-menu {
    padding-left: 90px;
}

.footer-menu .links li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-menu .links li a {
    color: #4285f4;
    font-size: 18px;
}

.footer-menu .links li a:hover {
    color: #fff;
}

section.breadcrumb {
    padding: 0;
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
}

section.breadcrumb .banner-img {
    height: 615px;
}

section.breadcrumb .banner-img img {
    object-fit: cover;
}

.breadcrumb .inner-banner {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.inner-banner h2 {
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
}

.inner-banner ul {
    display: flex;
    justify-content: center;
}

.inner-banner ul li {
    margin: 0 8px;
    position: relative;
    font-size: 20px;
}

.inner-banner ul li:not(:last-child)::after {
    content: "/";
    display: inline-block;
    margin-left: 15px;
    font-size: 25px;
}

.inner-banner ul li a {
    font-size: 25px;
    color: #fff;
}

.inner-banner ul li a:hover {
    color: #4285f4;
}

.about_content h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: normal;
}

.about_content h5 {
    color: #464646;
    font-size: 22px;
}

.job_vacancies_sec {
    background-color: #1a2b3a;
}

.job_vacancies_sec h2 {
    text-align: center;
    position: relative;
    color: #fff;
    padding-bottom: 45px;
    font-weight: 600;
}

.job_vacancies_sec h2::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width: 4px;
    height: 30px;
    margin: auto;
}

.job_vacancies_sec p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.about_news_box {
    background-color: #fff;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}

.about_news_box .news_img {
    position: relative;
    height: 390px;
    overflow: hidden;
    width: 100%;
}

.about_news_box .news_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news_date {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #4285f4;
    padding: 15px 25px;
    color: #fff;
    font-size: 35px;
    text-align: center;
    line-height: 100%;
}

.news_date span {
    display: block;
    font-size: 22px;
}

.about_news_box .news_details {
    padding: 25px;
}

.news_details .our_recent_title {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.news_details .news_title {
    font-size: 30px;
}

.news_details a {
    color: #4285f4;
    vertical-align: middle;
}

.news_details a:hover {
    color: #000;
}

.candidate-listing-section .left-listing {
    flex: 0 0 28%;
    max-width: 28%;
}

.candidate-listing-section .right-listing {
    flex: 0 0 72%;
    max-width: 72%;
}

.sidebar-right,
.jobs_box .candidate-item {
    background-color: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    padding: 15px;
}

.advanced-search h3 {
    font-size: 23px;
    margin-bottom: 10px;
}

.advanced-search .show-more-options {
    pointer-events: none;
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}

.advanced-search .show-more-options .fa {
    display: none;
}

.advanced-search .collapse {
    display: block;
}

.advanced-search .collapse .checkbox {
    position: relative;
    margin-bottom: 10px;
}

.advanced-search .collapse .checkbox input[type=checkbox] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    opacity: 0;
}

.advanced-search .collapse .checkbox input[type=checkbox]+label {
    margin: 0 0 0 5px;
}

.advanced-search .collapse .checkbox input[type=checkbox]+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 23px;
    font-size: 16px;
    color: #4285f4;
}

.advanced-search .collapse .checkbox input[type=checkbox]:checked+label::before {
    content: "\f00c";
    border-color: #4285f4;
}

.sidebar-right .sider_box {
    margin-bottom: 20px;
}

.advanced-search input:not([type="submit"]):not([type=checkbox]):not([type=radio]):not([type=file])[type="text"],
.advanced-search select.search-fields {
    min-height: 54px;
    border: 1px solid #e2e2e2;
}

.option-bar,
.jobs_box {
    margin-bottom: 20px;
}

.sorting-options2 {
    flex: 0 0 200px;
    max-width: 200px;
}

.option-bar .sorting-options a {
    margin-left: 15px;
    font-size: 24px;
}

.option-bar .sorting-options a:hover,
.option-bar .sorting-options a.active {
    color: #4285f4;
}

.jobs_box .candidate-item {
    margin-bottom: 15px;
}

.candidate-item .candidate-listing {
    flex: 0 0 70%;
    max-width: 70%;
    position: relative;
    padding-right: 15px;
}

.candidate-item .candidate-listing::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 118px;
    width: 1px;
    background-color: #e6e9ed;
}

.candidate-item .div-right {
    flex: 0 0 30%;
    max-width: 30%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

.candidate-item .div-right p {
    color: #888888;
    line-height: normal;
    margin-bottom: 10px;
}

.candidate-item .div-right h3 {
    font-size: 23px;
}

.candidate-listing .user-logo {
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
}

.candidate-listing .candidate_right {
    flex: 0 0 80%;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.candidate-listing .candidate_right h4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 7px;
}

.candidate-listing .candidate_right h4 a {
    font-size: 20px;
}

.candidate-listing .candidate_right h4 a:hover {
    color: #4285f4;
}

h4.title .label {
    background-color: #e7eeeb;
    padding: 5px 10px;
    border-radius: 5px;
    color: #06b312;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}

.candidate_right li {
    color: #8b8b8b;
    font-size: 14px;
}

.candidate_right li strong {
    color: #000;
}

.candidate_right li .fa {
    margin-right: 5px;
    color: #000;
}

.candidate_label {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 15px;
}

.candidate_label ul {
    display: flex;
    flex-wrap: wrap;
}

.candidate_label ul li {
    background-color: #e9edf2;
    border-radius: 5px;
    padding: 7px 10px;
    color: #6c6c6c;
    font-size: 14px;
}

.candidate_label ul li:not(:last-child) {
    margin-right: 5px;
}

.candidate_label ul li strong {
    color: #000;
}

.pagination-box nav ul.pagination {
    justify-content: center;
}

ul.pagination li {
    margin: 0 5px;
}

ul.pagination li a.page-link {
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    color: #353535;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px 15px;
}

ul.pagination li a.page-link.active,
ul.pagination li a.page-link:hover {
    background-color: #4285f4;
    color: #fff;
}

.wishlist-icon,
.candidate_right .sub_title,
.jobs_box.grid_view .candidate-item .candidate-listing::before,
.grid_view .candidate-item .div-right p,
.grid_view .candidate-item .div-right h3 {
    display: none;
}

.jobs_box.grid_view {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
}

.jobs_box.grid_view .candidate-item {
    flex: 0 0 31.33%;
    max-width: 31.33%;
    margin: 0 1% 2%;
    flex-wrap: wrap;
}

.jobs_box.grid_view .wishlist-icon,
.jobs_box.grid_view .candidate_right .sub_title {
    display: block;
}

.grid_view .candidate-item .candidate-listing {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 0 15px;
    display: block !important;
    text-align: center;
}

.grid_view .candidate-listing .user-logo,
.grid_view .candidate-listing .candidate_right,
.grid_view .candidate-item .div-right,
.grid_view .candidate-item .div-right p,
.grid_view .candidate-item .div-right h3 {
    flex: 0 0 100%;
    max-width: 100%;
}

.user-logo .wishlist-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.grid_view .candidate-listing .user-logo {
    margin-bottom: 10px;
}

.grid_view .candidate_right ul {
    text-align: center;
    width: 100%;
}

.grid_view .candidate-listing .candidate_right h4 a {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.grid_view .candidate-listing .candidate_right h4 a:hover {
    color: #4285f4;
}

.grid_view .candidate_right h4 .sub_title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.grid_view .candidate-listing .candidate_right h4 {
    margin: 0 0 15px;
}

.grid_view .candidate_right ul strong {
    margin: 0 10px;
}

.grid_view .candidate_label ul {
    justify-content: center;
}

.grid_view .candidate_label ul li:first-child {
    display: none;
}

.grid_view .candidate_label ul li {
    padding: 0 10px;
    background-color: transparent;
    margin: 0 0 5px;
}

.candidate-section .white_box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.candidate-section .main-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.candidate-section .main-item .company-logo {
    flex: 0 0 130px;
    max-width: 130px;
    position: relative;
    border: 1px solid #4285f4;
    border-radius: 5px;
    height: 130px;
    margin-right: 20px;
}

.main-item .company-logo img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 120px;
}

.description a:hover {
    color: #4285f4;
}

.candidate-listing-footer ul {
    display: flex;
    flex-wrap: wrap;
}

.candidate-listing-footer ul li:not(:last-child) {
    margin-right: 15px;
}

.candidate-listing-footer ul li {
    font-size: 18px;
    color: #808080;
}

.candidate-listing-footer ul li i[class*="fa-star"] {
    color: #ffc000;
    margin-right: 5px;
}

.white_box h3 {
    color: #1c1c1c;
    font-weight: 400;
    font-size: 26px;
}

.white_box h3 .fa {
    color: #4285f4;
}

.about-me p {
    color: #506172;
    line-height: 150%;
}

.about-me ul {
    margin-bottom: 20px;
    padding-left: 15px;
}

.about-me ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

.about-me ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    border: 1px solid #000;
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

.job_map iframe {
    width: 100%;
    height: 300px;
}

.apply_sec button.btn {
    width: 100%;
}

.job-overview ul li {
    margin-bottom: 15px;
}

.job-overview ul li span {
    float: right;
}

.keywords_sec ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.keywords_sec ul li {
    flex: 0 0 48%;
    max-width: 48%;
    border: 1px solid #4284f3;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    color: #4284f3;
}

.sidebar-right-2 h3.sidebar-title {
    font-size: 22px;
    font-weight: 400;
}

.information_sec ul li {
    margin-bottom: 15px;
    font-size: 18px;
}

.information_sec ul li a:hover {
    color: #4285f4;
}

body.inner-page-section {
    padding-top: 115px;
}

.inner-page-section header.main-header {
    background-color: #1f2937;
}

.contact-title h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.contact-title p {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 30px !important;
    color: #8e8e8e;
}

.form-sec .form-control {
    resize: none;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding: 0;
    height: 50px;
    font-size: 18px;
}

.form-sec textarea.form-control {
    height: 100px;
    padding-top: 10px;
}

.info-main {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info-main::before {
    content: "";
    top: 50px;
    bottom: 50px;
    right: 0;
    margin: auto;
    max-width: 250px;
    background-color: #4285f4;
    width: 100%;
    position: absolute;
}

.info-section {
    position: relative;
    background-color: #000;
    width: 100%;
    padding: 40px;
    color: #b5b5b5;
}

.info-section::before {
    content: "";
    position: absolute;
    left: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
    background-color: #4285f4;
}

.info-main h3 {
    flex: 0 0 100%;
    max-width: 100%;
    color: #fff;
}

.info-section ul li {
    margin-bottom: 25px;
    font-size: 20px;
}

.info-section ul li:last-child {
    margin-bottom: 0;
}

.info-section ul li i {
    width: 28px;
}

.info-section ul li a {
    font-size: 20px;
    color: #b5b5b5;
}

.info-section ul li a:hover {
    color: #4285f4;
}

.contact-sec .col-md-7 {
    padding-right: 100px;
}

.container.inner-banner.commen-banner {
    text-align: left;
}

.commen-banner h2 {
    color: #000;
    font-weight: bold;
    font-size: 50px;
}

.commen-banner p {
    max-width: 400px;
    font-size: 18px;
    color: #919191;
}

ul.commen_ul li {
    line-height: 180%;
    position: relative;
    list-style: disc;
    margin-left: 20px;
}

.main-card {
    display: flex;
}


/* font-family: 'Roboto', sans-serif;
    #4285f4
*/