@media screen and (min-width: 992px) and (max-width: 1024px) {
    .main-header .logo {
        padding: 15px 0;
    }
    .main-header .logo img {
        max-width: 150px;
    }
    .banner h3 {
        font-size: 35px;
    }
    section#banner {
        height: 370px;
    }
    .content-area-box,
    footer.footer {
        padding: 60px 0;
    }
    .about_section .about-tile {
        font-size: 32px;
    }
    .about_section p {
        font-size: 20px;
        line-height: 150%;
    }
    .how_works .how_inner {
        padding: 40px;
    }
    section.breadcrumb .banner-img {
        height: 400px;
    }
    .about_content h2 {
        font-size: 35px;
    }
    .news_details .news_title {
        font-size: 26px;
    }
    .candidate-item .div-right h3 {
        font-size: 18px;
    }
    body.inner-page-section {
        padding-top: 77px;
    }
    .profile_edit_sec .col-md-12.mt-5 {
        margin-top: 15px !important;
    }
}

@media screen and (max-width: 991px) {
    body h1 {
        font-size: 22px;
    }
    body h2 {
        font-size: 20px;
    }
    body h3 {
        font-size: 18px;
    }
    body h4 {
        font-size: 16px;
    }
    body h5 {
        font-size: 15px;
    }
    body h6 {
        font-size: 14px;
    }
    .commen-banner p {
        font-size: 14px;
        max-width: 390px;
    }
    .main-header .logo {
        padding: 10px 0;
    }
    .main-header .logo img,
    .header-shrink.main-header .logo img {
        max-width: 100px;
    }
    .main-header .navbar button.navbar-toggler {
        width: 35px;
        height: 35px;
        padding: 0;
        border: none;
        background-color: #4285f4;
        border-radius: 0;
        color: #fff;
    }
    .inline-search-area {
        max-width: 90%;
    }
    .banner h3 {
        font-size: 25px;
    }
    .inline-search-area .search-col .form-control,
    .inline-search-area button.btn-search {
        font-size: 14px;
    }
    .search-col .search-fields {
        min-height: 45px;
        font-size: 14px;
    }
    .inline-search-area.isa-3 .bootstrap-select button {
        padding: 12px 25px 12px 15px;
        font-size: 14px;
    }
    .content-area-box,
    footer.footer {
        padding: 40px 0;
    }
    .main-title h2,
    .main-title-2 h2 {
        font-size: 24px;
    }
    .main-title h2::before {
        height: 3px;
    }
    .about_section .about-tile {
        font-size: 24px;
    }
    .about_section p {
        font-size: 16px;
        line-height: 150%;
    }
    .main-title {
        margin-bottom: 35px;
    }
    .how_works .how_inner {
        padding: 15px;
    }
    .how_works .how_inner h3 {
        font-size: 18px;
    }
    body p,
    ul.commen_ul li {
        font-size: 14px;
        line-height: 160%;
    }
    .reviews_inner {
        margin: 15px 15px 80px;
        padding: 20px 20px 40px;
    }
    .reviews_box .center .reviews_inner {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
    }
    .reviews_inner .content-box i.fa {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .reviews_content .reviews_img {
        width: 70px;
        height: 70px;
    }
    .reviews_inner .reviews_content {
        top: calc(100% - 35px);
    }
    .footer_logo img {
        max-width: 150px;
    }
    ul.social-list li:not(:last-child) {
        margin-right: 15px;
    }
    ul.social-list li a {
        color: #8388a4;
        font-size: 20px;
    }
    .footer-item.footer-menu {
        padding-left: 0;
    }
    .footer-menu .links li:not(:last-child) {
        margin-bottom: 15px;
    }
    .main-header .navbar .navbar-collapse {
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }
    .main-header .navbar-expand-lg .navbar-nav.header-ml li {
        margin: 0;
    }
    .main-header .navbar-expand-lg .navbar-nav.header-ml li {
        border-bottom: 1px solid #ddd;
    }
    .main-header .navbar-expand-lg .navbar-nav.header-ml .nav-link,
    .main-header .navbar-expand-lg .navbar-nav.ml-auto .nav-link {
        padding: 10px 14px;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        letter-spacing: 0;
    }
    .main-header .navbar-expand-lg .navbar-nav.header-ml .nav-link:hover::before,
    .main-header .navbar-expand-lg .navbar-nav.header-ml .active>.nav-link::before {
        width: 0;
    }
    .main-header .navbar-expand-lg .navbar-nav.header-ml .nav-link:hover,
    .main-header .navbar-expand-lg .navbar-nav.header-ml .active>.nav-link {
        background-color: #000;
        color: #fff;
    }
    .navbar-expand-lg .navbar-nav.ml-auto {
        align-items: center;
    }
    .navbar-expand-lg .navbar-nav.ml-auto li {
        width: 100%;
        margin: 0 !important;
    }
    .main-header .navbar-expand-lg .navbar-nav.ml-auto .nav-link {
        color: #fff;
    }
    .main-header .navbar-expand-lg .navbar-nav.ml-auto .nav-link.deffold {
        color: #000;
        text-align: center;
    }
    section.breadcrumb .banner-img {
        height: 315px;
    }
    .inner-banner h2 {
        font-size: 23px;
        letter-spacing: 0;
        margin-bottom: 5px;
    }
    .about_news_box .news_img {
        height: 230px;
    }
    .about_news_box .news_details {
        padding: 15px;
    }
    .job_vacancies_sec p {
        font-size: 14px;
    }
    .candidate-listing-section .left-listing {
        flex: 0 0 35%;
        max-width: 35%;
    }
    .candidate-listing-section .right-listing {
        flex: 0 0 65%;
        max-width: 65%;
    }
    .advanced-search input:not([type="submit"]):not([type=checkbox]):not([type=radio]):not([type=file])[type="text"],
    .advanced-search select.search-fields {
        min-height: 45px;
    }
    .advanced-search h3 {
        font-size: 20px;
    }
    .advanced-search .show-more-options {
        font-size: 18px;
    }
    .search-fields {
        min-height: 38px;
    }
    .sorting-options2 {
        flex: 0 0 120px;
        max-width: 120px;
        font-size: 14px;
    }
    .option-bar .sorting-options a {
        margin-left: 10px;
        font-size: 16px;
    }
    .candidate-listing .candidate_right h4 a {
        font-size: 16px;
    }
    .candidate-listing .candidate_right h4 .label {
        padding: 3px 5px;
        font-size: 11px;
    }
    .candidate_label ul li {
        padding: 5px;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .candidate-item .div-right h3,
    a.btn.button-theme.btn-lg.apply-button {
        font-size: 16px;
    }
    .jobs_box.grid_view .candidate-item {
        flex: 0 0 48%;
        max-width: 48%;
    }
    .keywords_sec ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .keywords_sec ul li {
        flex: 0 0 19%;
        max-width: 19%;
        margin-right: 5px;
    }
    .white_box h3 {
        font-size: 22px;
    }
    .about-me ul li {
        font-size: 14px;
    }
    .about-me ul li::before {
        top: 2px;
    }
    .sidebar-right-2 h3.sidebar-title {
        font-size: 20px;
    }
    .information_sec ul li {
        font-size: 16px;
    }
    body.inner-page-section {
        padding-top: 52px;
    }
    .contact-sec .col-md-7 {
        padding-right: 15px;
    }
    .info-section {
        padding: 20px;
    }
    .info-section::before {
        left: -15px;
        top: -15px;
        width: 30px;
        height: 30px;
    }
    .profile_data h2 {
        font-size: 22px;
    }
    .profile_data h2 span,
    .profile_data p,
    .bookmart_link a {
        font-size: 16px;
    }
    .profile_data p .fa,
    .bookmart_link a .fa {
        font-size: 20px;
    }
    .rank_div h3,
    .skill_detail ul li,
    .personal_details ul li {
        font-size: 16px;
    }
    .rank_div p,
    .rank_div .fa {
        font-size: 26px;
    }
    .profile_tabs .nav-tabs li.nav-item a.nav-link {
        font-size: 18px;
        padding: 10px 15px;
    }
    .company_register h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .company_register a.company_login {
        height: 35px;
        line-height: 31px;
        padding: 0 15px;
        font-size: 16px;
    }
    .card.company_reg_right {
        padding: 15px;
    }
    .company_reg_right h2 {
        padding: 15px;
        font-size: 18px;
        margin: -15px -15px 20px;
    }
    label.control-label {
        font-size: 14px;
    }
    .totla_price h3 {
        font-size: 16px;
    }
    .totla_price h4 {
        font-size: 14px;
    }
    .register-section .card .card-body {
        padding: 15px;
    }
    .profile_edit_sec .col-md-12.mt-5 {
        margin-top: 15px !important;
    }
    .profile_edit_sec .portfolio_sec li {
        width: 31.33%;
    }
    .deleted_icon a {
        font-size: 22px;
    }
    .job-section .col-md-2 {
        display: none;
    }
    .job-section .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .pro_edit_title h2 {
        font-size: 20px;
    }
    .ui-autocomplete {
        max-width: 190px;
    }
}

@media screen and (max-width: 767px) {
    .sticky-header.header-shrink {
        padding: 0;
    }
    .banner h3 {
        font-size: 18px;
        margin-bottom: 3px;
    }
    .banner p {
        margin: 0 0 10px;
    }
    #banner .banner-img {
        height: 350px;
    }
    #banner .text-center {
        top: 60%;
    }
    .isa-3 {
        background: transparent;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
    }
    .inline-search-area .search-col {
        width: 100%;
        margin: 0 0 10px;
    }
    .find {
        width: 100%;
        float: left;
    }
    .find button.btn.btn-search {
        background-color: #000;
    }
    section#banner {
        height: 370px;
    }
    .content-area-box,
    footer.footer {
        padding: 30px 0;
    }
    .main-title h2,
    .main-title-2 h2 {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .main-title {
        margin-bottom: 25px;
    }
    .job-item {
        margin-bottom: 0;
        flex-wrap: wrap;
        padding: 15px 0;
    }
    .job-item:hover::before {
        opacity: 0;
    }
    .about_section .about-tile {
        font-size: 20px;
        text-align: center;
    }
    .about_section p {
        font-size: 14px;
        text-align: center;
    }
    .about_section a.btn.button-theme {
        display: table;
        margin: 0 auto;
    }
    .job-section .job-item .icon {
        margin: 0 0 15px;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .job-item .media-box {
        display: block;
        width: 100%;
        text-align: center;
    }
    .job-item ul {
        margin: 0;
        text-align: center;
    }
    .job-item ul li {
        float: none;
        margin-right: 5px;
        display: inline-block;
        margin-bottom: 15px;
    }
    .job-item .media-box .div-left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .div-center {
        margin-bottom: 10px;
    }
    .slick-slider-area .col-md-4:not(:last-child) {
        margin-bottom: 15px;
    }
    .footer-inner .col-sm-12:not(:last-child) .footer-item {
        margin-bottom: 20px;
    }
    .categorie-box-2 h5 {
        font-size: 18px;
    }
    .about_content h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
    }
    .about_content h5,
    .about_content p {
        text-align: center;
    }
    .about_content a.btn {
        display: table;
        margin: 0 auto 30px;
    }
    .job_vacancies_sec .col-md-3 {
        margin: 15px 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .job_vacancies_sec h2 {
        padding-bottom: 40px;
        font-size: 20px;
    }
    .job_vacancies_sec p {
        letter-spacing: 0;
    }
    .our_recent_news_sec .col-md-6:not(:last-child),
    .candidate-listing-section .left-listing {
        margin-bottom: 20px;
    }
    .inner-banner ul li a,
    .inner-banner ul li:not(:last-child)::after,
    .news_details .news_title {
        font-size: 18px;
    }
    section.breadcrumb .banner-img {
        height: 180px;
    }
    .candidate-listing-section .left-listing,
    .candidate-listing-section .right-listing {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .advanced-search .show-more-options .fa {
        display: inline-block;
    }
    .advanced-search .collapse {
        display: none;
    }
    .advanced-search .show-more-options {
        font-size: 16px;
        pointer-events: auto;
        margin-bottom: 10px;
    }
    .advanced-search .collapse.show {
        display: block;
    }
    .sidebar-right .sider_box {
        margin-bottom: 10px;
    }
    .option-bar .col-lg-6 {
        margin-bottom: 15px;
        justify-content: center !important;
    }
    .option-bar {
        margin-bottom: 5px;
    }
    .jobs_box .candidate-item {
        flex-wrap: wrap;
    }
    .candidate-item .candidate-listing {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    .candidate-item .candidate-listing::before {
        display: none;
    }
    .candidate-listing .user-logo {
        margin-bottom: 10px;
    }
    .candidate-listing .user-logo,
    .candidate-listing .candidate_right,
    .candidate-item .div-right,
    .candidate-item .div-right p,
    .candidate-item .div-right h3,
    .jobs_box.grid_view .candidate-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .candidate-listing .candidate_right h4 {
        margin: 0 0 10px;
    }
    .candidate_right ul {
        text-align: center;
        width: 100%;
    }
    .candidate_label ul {
        justify-content: center;
    }
    .jobs_box.grid_view .candidate-item {
        margin-left: 0;
        margin-right: 0;
    }
    .candidate-section .white_box {
        padding: 15px;
    }
    .candidate-section .main-item,
    .candidate-listing-footer ul {
        justify-content: center;
    }
    .candidate-section .main-item .company-logo {
        flex: 0 0 90px;
        max-width: 90px;
        height: 90px;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .main-item .company-logo img {
        max-width: 60px;
    }
    .main-item .description {
        text-align: center;
    }
    .description h4.title,
    .white_box h3 {
        font-size: 20px;
    }
    .candidate-listing-footer ul li:not(:last-child) {
        margin-right: 10px;
    }
    .candidate-listing-footer ul li {
        font-size: 14px;
    }
    .about-me ul {
        padding-left: 0;
    }
    .about-me ul li {
        padding-left: 15px;
    }
    .job_map iframe {
        height: 200px;
    }
    .sidebar-right-2 {
        margin-top: 20px;
    }
    .keywords_sec ul li {
        flex: 0 0 100px;
        max-width: 100px;
        font-size: 16px;
    }
    .contact-title {
        text-align: center;
    }
    .form-sec {
        margin-bottom: 25px;
    }
    .info-main::before,
    .info-section::before {
        display: none;
    }
    .commen-banner p {
        max-width: 210px;
        font-size: 13px;
    }
    .profile_img {
        margin-bottom: 20px;
    }
    .profile_data {
        display: block;
    }
    .card.company_reg_right {
        margin-top: 20px;
    }
    .register-section select {
        margin-top: 0px;
    }
    .profile_edit_sec .form_padding_right {
        padding-right: 0;
        padding-bottom: 20px;
    }
    .profile_edit_sec .form_padding_right .deleted_icon {
        top: auto;
        transform: translateX(-50%);
        right: auto;
        bottom: 0;
        left: 50%;
    }
    .profile_edit_sec .portfolio_sec {
        margin: 0 -10px;
    }
    .profile_edit_sec .portfolio_sec li {
        width: 48%;
    }
    .main-title-2 a {
        font-size: 14px;
    }
    .job-item h4 {
        margin: 0 0 15px;
        font-size: 18px;
    }
    .ui-autocomplete {
        max-width: calc(100% - 40px);
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .popular-categories .col-lg-4.col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .jobs_box.grid_view .candidate-item {
        flex: 0 0 48%;
        max-width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .option-bar .col-lg-6 {
        justify-content: space-between !important;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .option-bar .col-lg-6.justify-content-end {
        justify-content: flex-end !important;
    }
    .sorting-options2 {
        flex: 0 0 180px;
        max-width: 180px;
    }
    .profile_edit_sec .portfolio_sec li {
        width: 31.33%;
    }
    .ui-autocomplete {
        max-width: calc(100% - 70px);
    }
}